<!-- aptidoesecompetencias.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
<h1>Técnicas</h1>
<br>
<h3>Programar em:</h3>
<br>
<p>Kotlin;</p>
<p>JAVA;</p>
<p>Python;</p>
<p>C;</p>
<p>C++</p>
<br>
<p>Utilização do Word/Power Point;</p>
<p>Criação de páginas Web e estilização das mesmas;</p>
<p>Montagem e programação de Arduino.</p>

<br>

<h1>Organizativas</h1>
<br>
<p>Tento sempre manter uma atitude positiva (tanto para com as tarefas dadas, como para com os meus colegas) e possuo capidade para trabalhar em equipa</p>

<br>

<h1>Sociais</h1>
<br>
<p>Saber Ouvir;</p>
<p>Empatia;</p>
<p>Resolução de Conflitos;</p>

<br>

<h1>Linguisticas</h1>
<br>
<p>Inglês ( 1ºAno - 11ºAno);</p>
<p>Espanhol (7ºAno - 9ºAno)</p>

{% endblock %}