<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">

<div class="container">
    <img src="{% static 'portfolio/images/heroimage.jpg' %}">
</div>

<div class="flexbox">
    <h2>Aspirante a Engenheiro Informático</h2>
    <br>
        <h3>
            De momento estudante na Universidade Lusófona de Humanidades e Tecnologias
        </h3>
</div>

<div class="parallax">
    <p>
        Como foi dito a cima, o meu nome é Tiago e de momento estudo Engenharia Informática na ULHT, o motivo que me levou a seguir esta área foi
        principalmente o gosto pelos computadores, o crescimento exponencial da área nos últimos anos e também a elavada taxa de empregabilidade no mercado de trabalho.
    </p>
</div>
{% endblock %}