<!-- programacaowebtecnologias.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/noticias.css' %}">

<h1>Notícias</h1>
<br>
{% for noticia in noticias %}
<div class="container">
    <div>
        <h3><a href="{{noticia.linkNoticia}}"> {{noticia.titulo}} </a></h3>
        <br>
        <p>{{noticia.texto}}</p>
        <a href="{{noticia.linkNoticia}}"><img src="{{noticia.imagem.url}}" width="250" height="150"></a>
        <br>
        {% if request.user.is_authenticated %}
        <button class="button button1"><a href="{% url 'portfolio:edita_noticia' noticia.id %}">Editar</a></button>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if request.user.is_authenticated %}
<div class=botao>
    <button class="button button2"><a href="{% url 'portfolio:nova_noticia' %}">Adicionar Noticia</a>
    </button>
</div>
{% endif %}
{% endblock %}